.issueButton {
  background: black;
  border-radius: 2px;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 10px;
}
