.issueButton {
  background: black;
  border-radius: 2px;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 10px;
}

.sidebarMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidePictures {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
}
